body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial,
    sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 750px;
  height: 100%;
  touch-action: none;
  overflow: hidden;
  margin: 0 auto;
} 
body {
  font-size: $font-size-medium;
  color: $color-light;
  background: linear-gradient(180deg, #37474F 0%, #232F3C 100%);
  position: relative;
}
