@import 'mixin.scss';

.center-h {
  @include center-translate(h);
}

.center-v {
  @include center-translate(v);
}

.center-all {
  @include center-translate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 10rem !important;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.global-bg {
  background: linear-gradient(180deg, #37474F 0%, #232F3C 100%);
}

.slide-enter-active {
  animation: slide 0.3s;
}

.slide-leave-active {
  animation: slide 0.3s reverse;
}

.circle-animation {
  animation: circle 10s linear infinite;

  &.pause {
    animation-play-state: paused;
  }
}
.g-relative{
  position: relative;
}
@keyframes slide {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
