// 字体颜色
$color-main: #f15c00;
$color-dark: #6e717c;
$color-sub: #72909d;
$color-light: #e0f2f1;
$color-dark-pro: #303E48;

// 字体定义规范
$font-size-small: 20px;
$font-size-medium: 24px;
$font-size-large: 28px;
